<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot gripper">

    <!-- ===================================================== -->
    <!-- Combine UR3 and Robotiq Gripper -->
    <!-- ===================================================== -->

    <!-- ===================================================== -->
    <!-- Include UR3 macros -->
    <!-- ===================================================== -->
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />

    <!-- ===================================================== -->
    <!-- UR3 parameters -->
    <!-- ===================================================== -->
    <xacro:arg name="tf_prefix" default=""/>

    <xacro:arg
        name="joint_limit_params"
        default="$(find ur_description)/config/ur3/joint_limits.yaml"/>

    <xacro:arg
        name="kinematics_params"
        default="$(find ur_description)/config/ur3/default_kinematics.yaml"/>

    <xacro:arg
        name="physical_params"
        default="$(find ur_description)/config/ur3/physical_parameters.yaml"/>

    <xacro:arg
        name="visual_params"
        default="$(find ur_description)/config/ur3/visual_parameters.yaml"/>

    <!-- ===================================================== -->
    <!-- World -->
    <!-- ===================================================== -->
    <link name="world"/>

    <!-- ===================================================== -->
    <!-- UR3, link to world -->
    <!-- ===================================================== -->
    <xacro:ur_robot
        name="ur3"
        tf_prefix="$(arg tf_prefix)"
        parent="world"
        joint_limits_parameters_file="$(arg joint_limit_params)"
        kinematics_parameters_file="$(arg kinematics_params)"
        physical_parameters_file="$(arg physical_params)"
        visual_parameters_file="$(arg visual_params)"
        safety_limits="false"
        safety_pos_margin="0.15"
        safety_k_position="20"
        force_abs_paths="true">

        <origin
            xyz="0 0 0"
            rpy="0 0 0"/>

    </xacro:ur_robot>

    <!-- ===================================================== -->
    <!-- Include Robotiq 2F-85 macros -->  
    <!-- ===================================================== -->
    <xacro:include filename="$(find robot_gripper)/urdf/robotiq_2f_85_macro.urdf.xacro" />

    <!-- ===================================================== -->
    <!-- Robotiq 2F-85 -->
    <!-- ===================================================== -->
    <xacro:robotiq_gripper
        name="RobotiqGripper"
        prefix=""
        parent="tool0"
        sim_gazebo="true">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:robotiq_gripper>

</robot>