<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include
    filename="$(find ur_description)/urdf/inc/ur_joint_control.xacro"/>

  <xacro:macro name="my_ur_ros2_control"
               params="
                 name
                 tf_prefix
                 initial_positions:=${dict(
                   shoulder_pan_joint=0.0,
                   shoulder_lift_joint=-1.57,
                   elbow_joint=0.0,
                   wrist_1_joint=-1.57,
                   wrist_2_joint=0.0,
                   wrist_3_joint=0.0,
                   right_finger_joint=0.04,
                   left_finger_joint=0.04
                 )}
               ">

    <!-- ====================================================== -->
    <!-- UR3 + GRIPPER ros2_control -->
    <!-- ====================================================== -->

    <ros2_control name="${name}" type="system">

      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>


      <!-- ================================================== -->
      <!-- UR3 joints -->
      <!-- ================================================== -->

      <xacro:ur_joint_control_description
        tf_prefix="${tf_prefix}"
        initial_positions="${initial_positions}"
      />


      <!-- ================================================== -->
      <!-- Gripper -->
      <!-- ================================================== -->

      <joint name="right_finger_joint">

        <param name="initial_value">${initial_positions['right_finger_joint']}</param>

        <command_interface name="position"/>

        <state_interface name="position"/>
        <state_interface name="velocity"/>

      </joint>

      <joint name="left_finger_joint">

        <param name="initial_value">${initial_positions['left_finger_joint']}</param>

        <command_interface name="position"/>

        <state_interface name="position"/>
        <state_interface name="velocity"/>

      </joint>

    </ros2_control>

  </xacro:macro>

</robot>